<h1>Books</h1>
 <table>
  <h3>Title</h3>
  <h3> Body</h3>
  <tr>
   <td>たのしいRuby</td>
   <td>Rubyの入門におすすめです</td>
   <td>入門Git</td>
   <td>gitについての基本操作から内部構造まで解説してくれます</td>
   <td>アルゴリズム図鑑</td>
   <td>アルゴリズムについてカラーイラストでしっかり解説してくれます</td>
   <td>達人プログラマー</td>
   <td>ログラマ入門者は必読</td>
   <td>データベース実践入門</td>
   <td>効率的なSQL文を教えてくれます</td>
   <td>トラブル知らずシステム設計</td>
   <td>システム設計の要点を図解で説明してくれます</td>
  </tr>
  
 </table>

 
 